In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv("/content/drive/My Drive/Mumbai1.csv")

In [4]:
data.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [5]:
data.shape

(6347, 19)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            6347 non-null   int64
 1   Price                 6347 non-null   int64
 2   Area                  6347 non-null   int64
 3   Location              6347 non-null   object
 4   No. of Bedrooms       6347 non-null   int64
 5   New/Resale            6347 non-null   int64
 6   Gymnasium             6347 non-null   int64
 7   Lift Available        6347 non-null   int64
 8   Car Parking           6347 non-null   int64
 9   Maintenance Staff     6347 non-null   int64
 10  24x7 Security         6347 non-null   int64
 11  Children's Play Area  6347 non-null   int64
 12  Clubhouse             6347 non-null   int64
 13  Intercom              6347 non-null   int64
 14  Landscaped Gardens    6347 non-null   int64
 15  Indoor Games          6347 non-null   int64
 16  Gas Connection        6347 non-null   int64
 17  Jogging Track         6347 non-null   int64
 18  Swimming Pool         6347 non-null   int64
dtypes: int64(18), object(1)
memory usage: 942.3+ KB

In [7]:
for column in data.columns:
  print(data[column].value_counts())
  print("*"*20)

0       1
4239    1
4237    1
4236    1
4235    1
       ..
2113    1
2112    1
2111    1
2110    1
6346    1
Name: Unnamed: 0, Length: 6347, dtype: int64
********************
8500000     116
9000000      93
7500000      92
4500000      88
9500000      88
           ...
52600000      1
5686000       1
7881000       1
2770000       1
2465000       1
Name: Price, Length: 979, dtype: int64
********************
650     263
1050    146
600     141
1100    138
1000     98
       ...
1487      1
1558      1
793       1
596       1
435       1
Name: Area, Length: 1140, dtype: int64
********************
Kharghar             533
Thane West           418
Mira Road East       390
Ulwe                 319
Borivali West        176
                    ...
worli sea face         1
Sea Face               1
Shiv Sagar Estate      1
Natakwala Lane         1
Padle Gaon             1
Name: Location, Length: 413, dtype: int64
********************
2    2601
1    2307
3    1201
4     190
5      39
6       7
7       2
Name: No. of Bedrooms, dtype: int64
********************
0    4178
1    2169
Name: New/Resale, dtype: int64
********************
1    3690
0    2657
Name: Gymnasium, dtype: int64
********************
1    5087
0    1260
Name: Lift Available, dtype: int64
********************
1    3573
0    2774
Name: Car Parking, dtype: int64
********************
0    4561
1    1786
Name: Maintenance Staff, dtype: int64
********************
1    3573
0    2774
Name: 24x7 Security, dtype: int64
********************
1    3550
0    2797
Name: Children's Play Area, dtype: int64
********************
0    3197
1    3150
Name: Clubhouse, dtype: int64
********************
0    3270
1    3077
Name: Intercom, dtype: int64
********************
0    4058
1    2289
Name: Landscaped Gardens, dtype: int64
********************
0    4953
1    1394
Name: Indoor Games, dtype: int64
********************
0    4804
1    1543
Name: Gas Connection, dtype: int64
********************
0    3926
1    2421
Name: Jogging Track, dtype: int64
********************
0    3438
1    2909
Name: Swimming Pool, dtype: int64
********************

In [8]:
data.isna().sum()

Unnamed: 0              0
Price                   0
Area                    0
Location                0
No. of Bedrooms         0
New/Resale              0
Gymnasium               0
Lift Available          0
Car Parking             0
Maintenance Staff       0
24x7 Security           0
Children's Play Area    0
Clubhouse               0
Intercom                0
Landscaped Gardens      0
Indoor Games            0
Gas Connection          0
Jogging Track           0
Swimming Pool           0
dtype: int64

In [9]:
data.drop(columns=['Gymnasium', 'Lift Available', 'Car Parking', 'Maintenance Staff', '24x7 Security', "Children's Play Area", "Clubhouse", "Intercom", "Landscaped Gardens", "Indoor Games", "Gas Connection", "Jogging Track", "Swimming Pool"], inplace=True)

In [10]:
data.describe()

        Unnamed: 0         Price         Area  No. of Bedrooms   New/Resale
count  6347.000000  6.347000e+03  6347.000000      6347.000000  6347.000000
mean   3173.000000  1.515401e+07  1004.327084         1.910036     0.341736
std    1832.365411  2.015943e+07   556.375703         0.863304     0.474329
min       0.000000  2.000000e+06   200.000000         1.000000     0.000000
25%    1586.500000  5.300000e+06   650.000000         1.000000     0.000000
50%    3173.000000  9.500000e+06   905.000000         2.000000     0.000000
75%    4759.500000  1.750000e+07  1182.000000         2.000000     1.000000
max    6346.000000  4.200000e+08  8511.000000         7.000000     1.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6347 non-null   int64
 1   Price            6347 non-null   int64
 2   Area             6347 non-null   int64
 3   Location         6347 non-null   object
 4   No. of Bedrooms  6347 non-null   int64
 5   New/Resale       6347 non-null   int64
dtypes: int64(5), object(1)
memory usage: 297.6+ KB

In [12]:
data['price_per_sqft'] = data['Price'] / data['Area']

In [13]:
data['price_per_sqft']

0        6736.111111
1        7500.000000
2       10307.692308
3        6923.076923
4        7518.796992
            ...
6342     3550.000000
6343    16111.111111
6344    16111.111111
6345     2971.014493
6346     3928.571429
Name: price_per_sqft, Length: 6347, dtype: float64

In [14]:
data.describe()

,Unnamed: 0,Price,Area,No. of Bedrooms,New/Resale,price_per_sqft
count,6347.000000,6.347000e+03,6347.000000,6347.000000,6347.000000,6347.000000
mean,3173.000000,1.515401e+07,1004.327084,1.910036,0.341736,13555.465839
std,1832.365411,2.015943e+07,556.375703,0.863304,0.474329,9573.921483
min,0.000000,2.000000e+06,200.000000,1.000000,0.000000,1597.444089
25%,1586.500000,5.300000e+06,650.000000,1.000000,0.000000,7234.042553
50%,3173.000000,9.500000e+06,905.000000,2.000000,0.000000,10493.827160
75%,4759.500000,1.750000e+07,1182.000000,2.000000,1.000000,17142.857143
max,6346.000000,4.200000e+08,8511.000000,7.000000,1.000000,109950.522265

In [15]:
data['Location'].value_counts()

Kharghar             533
Thane West           418
Mira Road East       390
Ulwe                 319
Borivali West        176
                    ...
worli sea face         1
Sea Face               1
Shiv Sagar Estate      1
Natakwala Lane         1
Padle Gaon             1
Name: Location, Length: 413, dtype: int64

In [16]:
data['Location'] = data['Location'].apply(lambda x: x.strip())
location_count = data['Location'].value_counts()

In [17]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

Sector 19 Kharghar    10
Sion                  10
Majiwada              10
Sector12 Kamothe       9
kandivali              9
                      ..
worli sea face         1
Sea Face               1
Shiv Sagar Estate      1
Natakwala Lane         1
Padle Gaon             1
Name: Location, Length: 324, dtype: int64

In [18]:
data['Location'] = data['Location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [19]:
data['Location'].value_counts()

other             808
Kharghar          533
Thane West        418
Mira Road East    390
Ulwe              319
                 ...
Vashi              12
matunga east       12
Kalyan East        11
Palghar            11
Kurla West         11
Name: Location, Length: 90, dtype: int64

In [20]:
data.describe()

,Unnamed: 0,Price,Area,No. of Bedrooms,New/Resale,price_per_sqft
count,6347.000000,6.347000e+03,6347.000000,6347.000000,6347.000000,6347.000000
mean,3173.000000,1.515401e+07,1004.327084,1.910036,0.341736,13555.465839
std,1832.365411,2.015943e+07,556.375703,0.863304,0.474329,9573.921483
min,0.000000,2.000000e+06,200.000000,1.000000,0.000000,1597.444089
25%,1586.500000,5.300000e+06,650.000000,1.000000,0.000000,7234.042553
50%,3173.000000,9.500000e+06,905.000000,2.000000,0.000000,10493.827160
75%,4759.500000,1.750000e+07,1182.000000,2.000000,1.000000,17142.857143
max,6346.000000,4.200000e+08,8511.000000,7.000000,1.000000,109950.522265

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6347 non-null   int64
 1   Price            6347 non-null   int64
 2   Area             6347 non-null   int64
 3   Location         6347 non-null   object
 4   No. of Bedrooms  6347 non-null   int64
 5   New/Resale       6347 non-null   int64
 6   price_per_sqft   6347 non-null   float64
dtypes: float64(1), int64(5), object(1)
memory usage: 347.2+ KB

In [22]:
def remove_outliers_sqft(df):
  df_output = pd.DataFrame()
  for key, subdf in df.groupby('Location'):
    m = np.mean(subdf.price_per_sqft)
    st = np.std(subdf.price_per_sqft)
    
    gen_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m+st))]
    df_output = pd.concat([df_output, gen_df], ignore_index = True)
  return df_output
data = remove_outliers_sqft(data)
data.describe()

,Unnamed: 0,Price,Area,No. of Bedrooms,New/Resale,price_per_sqft
count,4922.000000,4.922000e+03,4922.000000,4922.000000,4922.000000,4922.000000
mean,3153.062373,1.314812e+07,993.934173,1.854328,0.321008,12183.266919
std,1836.880233,1.443915e+07,521.370099,0.825394,0.466911,7351.799480
min,1.000000,2.000000e+06,200.000000,1.000000,0.000000,2222.222222
25%,1534.250000,5.300000e+06,650.000000,1.000000,0.000000,7175.375831
50%,3173.500000,9.000000e+06,910.000000,2.000000,0.000000,9703.687445
75%,4743.750000,1.600000e+07,1160.000000,2.000000,1.000000,16190.476190
max,6346.000000,2.300000e+08,7600.000000,7.000000,1.000000,55813.953488

In [23]:
data.shape

(4922, 7)

In [24]:
data.drop(columns=['price_per_sqft','New/Resale', 'Unnamed: 0'], inplace=True)

In [25]:
data.head()

      Price  Area Location  No. of Bedrooms
0   6200000   400   Airoli                1
1   9500000  1000   Airoli                2
2  14900000  1245   Airoli                2
3  14000000  1183   Airoli                2
4  14800000  1245   Airoli                2

In [26]:
data.to_csv('/content/drive/MyDrive/Cleaned_data.csv')

In [27]:
X = data.drop(columns=['Price'])
y = data['Price']

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [29]:
#  x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [30]:
print(X_train.shape)
print(X_test.shape)

(3297, 3)
(1625, 3)

#**Applying Linear Regression**

In [31]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['Location']),remainder='passthrough')

In [32]:
scaler = StandardScaler()

In [33]:
lr = LinearRegression(normalize = True)

In [34]:
pipe = make_pipeline(column_trans, scaler, lr)

In [35]:
pipe.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [36]:
y_pred_lr = pipe.predict(X_test)

In [37]:
r2_score(y_test, y_pred_lr)

0.8631613710014122

#**Applying Lasso**

In [38]:
lasso = Lasso()

In [39]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [40]:
pipe.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.069e+15, tolerance: 6.611e+13
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [41]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.8632914924300426

#**Applying Ridge**

In [42]:
ridge = Ridge()

In [43]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [44]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [45]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8632770461920707

In [46]:
print("No Regularization: ", r2_score(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

No Regularization:  0.8631613710014122
Lasso:  0.8632914924300426
Ridge:  0.8632770461920707

In [47]:
import pickle

In [48]:
pickle.dump(pipe, open('/content/drive/MyDrive/RidgeModel.pkl','wb'))